:root{
	--org-primary: #084872;
	--org-bg: #1577A5;
	--org-bg2: #EFF5F9;
}

.org{
	padding: 0;
  .content {
	font-family: Verdana;
	font-size: 14px;
	position: relative;
  }
  .content * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  .org-chart {
	display: block;
	clear: both;
	margin-bottom: 30px;
	position: relative;
	/**
	* For IE 6/7 only
	* Include this rule to trigger hasLayout and contain floats.
	*/
	/* Box colors */
	/* 1 column */
	/* 2 column */
	/* 3 column */
	/* DEPARTMENTS COLUMNs */
  }
  .org-chart.cf:before, .org-chart.cf:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
  }
  .org-chart.cf:after {
	clear: both;
  }
  .org-chart.cf {
	zoom: 1;
  }
  .org-chart ul {
	padding: 0;
	margin: 0;
	list-style: none;
  }
  .org-chart ul li {
	position: relative;
  }
  .org-chart ul li span {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
	text-decoration: none;
	color: black;
	font-size: 120%;
	box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.4);
	-webkit-transition: all linear 0.1s;
	-moz-transition: all linear 0.1s;
	transition: all linear 0.1s;
	background: var(--org-bg2);
	max-height: 120px;
	border-radius: 5px;
	padding: 20px 4px;
  }
  .large{
	font-size: 90% !important;
  }
  .org-chart .lvl-b {
	position: relative;
	overflow: unset;
	background: var(--org-bg);
	color: var(--org-bg2);
	p{
		margin: 0 0px 0 25px;

	}
	.icon{
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		left: -75px;
		top: calc(50% - 50px);

		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: var(--org-bg2);
		border: 4px solid var(--org-primary);
	}
  }
  .org-chart .board {
	width: 100%;
	margin: 0 auto;
	display: block;
	position: relative;
  }
  .org-chart .board:before {
	content: "";
	display: block;
	position: absolute;
	height: 480px;
	width: 0px;
	border-left: 2px solid var(--org-primary);
	margin-left: 49%;
	top: 20px;
  }
  .org-chart ul.columnOne {
	height: 90px;
	position: relative;
	width: 100%;
	display: block;
	clear: both;
  }
  .org-chart ul.columnOne li {
	width: 30%;
	margin: 0px auto;
	top: 20px;
  }
  .org-chart ul.columnTwo {
	position: relative;
	width: 100%;
	display: block;
	height: 90px;
	clear: both;
  }
  .org-chart ul.columnTwo li:first-child {
	width: 30%;
	float: left;
  }
  .org-chart ul.columnTwo li {
	width: 30%;
	float: right;
  }
  .org-chart ul.columnTwo:before {
	content: "";
	display: block;
	position: relative;
	width: 80%;
	height: 10px;
	border-top: 2px solid var(--org-primary);
	margin: 0 auto;
	top: 40px;
  }
  .org-chart ul.columnThree {
	position: relative;
	width: 100%;
	display: block;
	clear: both;
  }
  .org-chart ul.columnThree li:first-child {
	width: 30%;
	float: left;
	margin-left: 0;
  }
  .org-chart ul.columnThree li {
	width: 30%;
	margin-left: 5%;
	float: left;
  }
  .org-chart ul.columnThree li:last-child {
	width: 30%;
	float: right;
	margin-left: 0;
  }
  .org-chart ul.columnThree:before {
	content: "";
	display: block;
	position: relative;
	width: 80%;
	height: 10px;
	border-top: 2px solid var(--org-primary);
	margin: 0 auto;
	top: 40px;
  }
  .org-chart .departments {
	width: 100%;
	display: flex;
	justify-content: space-around;
	
	gap: 10px;
	clear: both;
  }
  .org-chart .rect {
	content: "";
	display: block;
	width: 90%;
	height: 22px;
	border-top: 2px solid var(--org-primary);
	border-left: 2px solid var(--org-primary);
	border-right: 2px solid var(--org-primary);
	margin: 0 auto;
	margin-top: 50px;
	top: 0px;
  }
  .org-chart .department {
	position: relative;
	border-left: 2px solid transparent;
	width: 14.2%;
	float: left;
	margin: 0px 5px;
  }
  .org-chart .department:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 22px;
	border-left: 2px solid var(--org-primary);
	left: 50%;
	top: -22px;
  }
  .org-chart .department:first-child:after {
	display: none;
  }
  .org-chart .department:last-child:after {
	display: none;
  }
  .org-chart .department:last-child{
	float: right;
  }
  .org-chart .department.central {
	background: #EFF5F9;
  }
  .org-chart .department.central:after {
	display: none;
  }
  .org-chart .department li {
	padding-left: 25px;
	border-bottom: 2px solid var(--org-primary);
	height: 80px;
  }
  .org-chart .department li span {
	background: var(--org-bg2);
	top: 38px;
	position: absolute;
	z-index: 1;
	width: 95%;
	height: auto;
	vertical-align: middle;
	right: 0px;
	line-height: 14px;
  }
  .org-chart .department .sections {
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-top: -20px;
	border-left: 2px solid var(--org-primary);
  }

  .section{
	span{
		strong{
	     line-height: 0.5cm;
		}
	}
  }

  /* MEDIA QUERIES */
  @media all and (max-width: 1200px) {
	.org-chart ul.columnOne li {
		width: 80%;
		margin: 0px auto;
		top: 20px;
		strong{
			margin: 0px 0px 0px 20px;
		}
	  }

	  .org-chart ul.columnTwo li:first-child {
		width: 40%;
		float: left;
	  }
	  .org-chart ul.columnTwo li {
		width: 40%;
		float: right;
	  }
	  
  .org-chart .lvl-b {
	p{
		margin: 0 0 0 80px;
	}
	.icon{

		left: -25px;
		top: calc(50% - 50px);
	}
  }
	.org-chart ul li span, .large {
		font-size: 100% !important;
	}
	.org-chart .departments {
	  width: 100%;
	  display: block;
	  clear: both;
	}
	.org-chart .board {
	  margin: 0px;
	  width: 100%;
	}
	.org-chart .board:before {
	  height: 600px;
	}
	.org-chart .departments:before {
	  border: none;
	}
	.org-chart .department {
	  float: none;
	  width: 100%;
	  margin-left: 0;
	  background: #EFF5F9;
	  margin-bottom: 40px;
	}
	.org-chart .department:before {
	  content: "";
	  display: block;
	  position: absolute;
	  width: 15px;
	  height: 60px;
	  border-left: 2px solid var(--org-primary);
	  z-index: 1;
	  top: -45px;
	  left: 0%;
	  margin-left: -2px;
	}
	.org-chart .department:after {
	  display: none;
	}
	.org-chart .department:first-child:before {
	  display: none;
	}
	.org-chart .department:last-child{
	  float: left;
	}
  }}